.messageCont {
  margin-left: 35%;
}

.messageForm {
  margin-left: 35%;

}

.messageFormInput {
  width: 80%;
  height: 30px;
}

.messageBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
}

.messageImage {
  width: 50%;
  border-radius: 50px;
  grid-area: 1 / 1 / 4 / 2;
}

.messageContUsername {
  grid-area: 1 / 2 / 2 / 6;
  /* position: relative; */
  /* width: 100px; */
}

.messageContMessage {
  grid-area: 2 / 2 / 4 / 6;
}

.emoji-icon {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  margin-top: -0.5%;
  margin-left: 1%;
  display: inline-block
}

.MessageSettingButtonDiv {
  margin-left: 10%;
  display: inline-block
}

.reactionbuttons {
  margin: 0 auto;
  margin-left: 20%;
  margin-top: -5%;
  margin-bottom: 5%;
}

.action_btn {
  display: inline;

}

.fa-crown {
  color: yellow
}
