/* TODO Add site wide styles */
body {
  /* background-color: rgb(39, 38, 37); */
  color: white;
  background: linear-gradient(to left,
    rgb(48,51,56,255) 0, rgb(48,51,56,255) 69%,
    rgba(43,45,48,255) 0, rgba(43,45,48,255) 91.66%,
    rgba(30,31,34,255) 0, rgba(30,31,34,255) 100%
);
}

.home_image {
  margin-left: 27%;
  max-width: 30%;
}

button {
  background-color: #4f198d;
  display:inline-block;
  /* padding: 0.3em 1.2em; */
  /* margin: 1px; */
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  border-color: rgba(255, 255, 255, 1);
}

input[type='file'] {
  color: rgba(0, 0, 0, 0)
}
