.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
}

.menu-top {
  height: 150px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.image_top {
  grid-area: 1 / 1 / 2 / 8;
  height: 40%;
  width: 120%;
  /* background-color: #4f198d; */
  background-image: linear-gradient( #181757, #6e198d);
}

.menu_top {
  float: right;
  text-align: center;
  margin-top: 20px;
  margin-right: 45%;
  grid-area: 1 / 8 / 2 / 9; ;
}

.image_top_image {
  width: 50%;
  height: 100%;
  /* margin-top: 0.5%; */
  margin-left: 22%;
}
