.server_image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #cccccc;
}

.server_left {
  float: left;
  margin-top: 10px;
  margin-left: 1%;
}

.server_card_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin-left: 25%;
}

.server_card_img {
  max-width: 100%;
  height: 70%;
  border-radius: 10px;
}

.server_card_text {
  height: 50%;
  margin-left: 10%;
  grid-area: 1 / 1 / 2 / 3;
}

.server_card_server {
  margin-top: -22%;
  margin-right: 50px;
  margin-left: 25%;
}

.quitServerButton {
  margin-left: 80px;
}

.editServerButton {
  margin-left: 20px;
}

.add_server_icon {
  color: rgb(35, 33, 33);

}

.tooltip {
  /* position: relative; */
  /* display: inline-block; */
  border-bottom: 1px dotted black;
}

.tooltiptext {
 margin: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.all_server_icon {
  margin-top: 5px;
  margin-left: 1px;
  border: 0.05em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  color: #4f198d;
}

.all_server_icon:hover {
  border-color: rgba(255, 255, 255, 1);
}

.server_name_cont {
  margin-left: 9%;
}

.channel_tags {
  margin-top: 10px;
  margin-left: 9%;

}

.allChannel {
  padding: 5px;
}

.allChannelLink {
  color: white;
  text-decoration: none;
}

.serverWelcome {
  margin-left: 30%;
  text-align: center;
}

.textChannelsDiv {
  margin-top: 3%;
}

.errors {
  color: red;
  display: flex;
  width: 100%;
  margin: 5px 0px;
  font-size: 12pt;
}

.image-update {
  width: 50px;
  height: 50px;
}

.pageContainers {
  margin: 10px;
}

.mymargin {
  margin: 10px;
}
